<main>
    <section id="hero" class="hero" data-spy="scroll" data-target="#menu">
        <div class="hero__inner">
            <div class="hero__divider">
                <div class="container section text-center">
                    <div class="row">
                        <div class="col-md-10 col-lg-7 mx-auto">
                            <h1 class="text-uppercase">
                                System Developer
                            </h1>
                            <p>
                                With close to 10 years of experience backed by a B.Sc. in Computer Science and a minor in Philosophy I have a unique way of thinking that can help me understand your ideas and turn them into reality.
                            </p>
                            <a href="#skills" class="btn btn-secondary--gradient">
                                What can I do?
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>